window {
    font-family: "JetBrainsMono NF";
    font-size: 14pt;
    color: #dcd7ba; /* text */
    background-color: rgba(22, 22, 29, 0.8);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border: none;
    background-color: rgba(31, 31, 40, 0);
    margin: 5px;
}

#reboot {
    background-image: url("./reboot.svg");
}
